<div class="pure-g" id="upd-form">
    
    <div class="pure-u-1 pure-u-md-1-2">
        <label for="update-search">Search &amp; Select a Term (10 terms displayed)</label>
        <input name="update-search" id="update-search" class="pure-u-23-24 onto-needed" type="text" required>
    </div>
    <br><br>
    <div class="pure-u-1 pure-u-md-1-2"></div>
    <div class="pure-u-1 pure-u-md-1 update-search-table" hidden>
        <table class="pure-table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width:20%">ID</th>
                    <th style="width:35%">Name</th>
                    <th style="width:45%">Description</th>
                </tr>
            </thead>
            <tbody id="update-search-body" style="font-size:0.75em">
            </tbody>
        </table>
    </div>
    <br><br>
    <div class="pure-u-1 pure-u-md-1-1">
        <label for="update-desc">Requested Change</label>
        <textarea name="update-desc" rows="8" cols="80"></textarea>
    </div>
    <div class="pure-u-1 pure-u-md-1-1">
        <label for="update-reason">Rational for This Change</label>
        <textarea name="update-reason" rows="8" cols="80"></textarea>
    </div>
</div>

<script type="text/javascript">

//Validation
window.validators["#update"] = function(){
    var $form = $('#upd-form, #submission-form');
    var filled = true;
    $form.find('input[type=text]:not(.optional), textarea, select').filter("*:not([hidden],[hidden] *)").each(function() {
        if ( !$(this).val()){
            alert("Please fill out all fields.");
            console.log(this);
            $(this).focus();
            filled = false;
            return false;
        }
    });
    if(!filled) return false;
    
    var valid = true;
    $form.find('fieldset *:invalid').filter("*:not([hidden],[hidden] *)").each(function(){
        alert("Invalid value.");
        console.log(this);
        $(this).focus();
        valid = false;
        return false;
    })
    if(!valid) return false;

    var cat_counter = $('#categories-count');
    if (cat_counter.is("*:not([hidden] *)") && parseInt(cat_counter.val())<2){
        alert("Must have at least 2 categories.");
        return false;
    }
    return true;
}

// Variable Search
$('#update-search').on("input",function(){
    var options = {
        shouldSort: true,
        threshold: 0.1,
        location: 0,
        tokenize: true,
        distance: 1000,
        maxPatternLength: 2048,
        minMatchCharLength: 1,
        keys: [
            "id",
            "name",
            "def",
            "synonyms"
        ]
    };
    var fuse = new Fuse(ontology.variables, options);
    var search_text = $('#update-search').val();
    var result = fuse.search(search_text).slice(0,10);    
    var existing_body = $("#update-search-body");
    var existing_rows = existing_body.children("tr");
    var diff = result.length - existing_rows.length;
    if (diff>0){
        for (var i = 0; i < diff; i++) {
            existing_body.append('<tr class="update-search-term"><td class="update-search-id"></td><td class="update-search-name"></td><td class="update-search-def"></td></tr>')
        }
    } 
    else if(diff<0){
        existing_rows.slice(existing_rows.length+diff,existing_rows.length).remove();
    }        
    
    if (result.length>0){
        $(".update-search-table").attr("hidden", false);
    }
    else {
        $(".update-search-table").attr("hidden", true);
    }  
    
    existing_body.children("tr.update-search-term").each(function(i){
        $(this).children(".update-search-id").html('<label class="pure-radio"> <input class="update-search-radio" value="" type="radio" name="update-search-selected"> '+result[i]["id"]+'</label>');
        $(this).find(".update-search-radio").attr("value",result[i]["id"]+" ("+result[i]["name"]+")");
        $(this).children(".update-search-name").html(result[i]["name"]);
        $(this).children(".update-search-def").html(result[i]["def"]);
    })
})
</script>
